.gitignore
.DS_Store
tsconfig.json
tsconfig.test.json
esbuild.js
.mocharc.json

out/**
src/**
project/**

webview/tsconfig.json
webview/src/**
webview/dev-preview*.html

tools/tf-hcl-graph/*.go
tools/tf-hcl-graph/go.mod
tools/tf-hcl-graph/go.sum
tools/tf-hcl-graph/.gitignore
tools/tf-hcl-graph/testdata/**

images/icon-source.html

**/*.map
